.topic-screen {
  padding-top: 10px;
  .topic-list {
    background-color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    .topic-item {
      padding-top: 10px;
      padding-bottom: 12px;
      border-bottom: 1px solid #eee;
      .title {
        color: #272e3b;
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
}
